kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: morphling-controller
  labels:
    {{- include "morphling.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - serviceaccounts
      - services
      - secrets
      - events
      - namespaces
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
      - pods/status
    verbs:
      - "*"
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - "*"
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - "*"
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - get
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
      - mutatingwebhookconfigurations
    verbs:
      - '*'
  - apiGroups:
      - tuning.kubedl.io
    resources:
      - profilingexperiments
      - profilingexperiments/status
      - trials
      - trials/status
      - samplings
      - samplings/status
    verbs:
      - "*"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "morphling.labels" . | nindent 4 }}
  name: morphling-controller
  namespace: morphling-system
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    {{- include "morphling.labels" . | nindent 4 }}
  name: morphling-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: morphling-controller
subjects:
  - kind: ServiceAccount
    name: morphling-controller
    namespace: morphling-system
